#draggable { 
    width: 150px; 
    height: 150px; 
    padding: 0.5em;
    background-color: red; 
}









/*slide*/
.box{
    color: white;
    text-align: center;
}
.box2{
    cursor: pointer;
    background-color: #212529;
    padding: 18px;
}
.box3{
    
    background-color: green;
    padding: 30px;
    display: none;
}